*{
    text-align: center;
    
}
html{
    background-color: #AEF5A3AA;
    font-size: 24px;
    font-family: 'Dongle',sans-serif;
}
body{
    width: 640px;
    margin: auto; /*너비에서 남는 여백을 동일하게 분배*/
}

#selfhi{
    color: blueviolet;
    font-size: 1.5rem;
}
h1{
    font-size: 5rem;
    font-style:inherit;
    height: 100px;
    color: rgba(77%,55%,55%,50%);
}
h2{
    color: blueviolet;
    font-size: 1.5rem;
}

img{
    border-radius: 200px;
}
p{
    font-size: 1.2rem;
}


